@import "./_variable.sass"
@font-face
    font-family: "Gras"
    src: url(../font/MindTheCapsDemoVersion-owGpV.ttf)
body
    padding: 0
    margin: 0
    background-color: white
    color: black
.dark
    background-color: black
    color: whit
    #section1
        background-color: $grey
        color: white
    #section2
        h1
            color: white
            span
                color: $green
        h2
            color: white
        span
            color: white
        li
            color: white
        .sec2
            .imgsec2
                .blanc
                    background-color: $grey
    #section3
        background-color: $grey
        .cardblanche
            background-color: black
            color: white
    #section5
        h1
            color: white
            span
                color: $green
        .card
            background-color: $grey
            .container
                h5
                    color: white
        button
            color: white
        button:hover
            color: $green
        button.active
            color: $green
    nav
        background-color: black
        h1
            color: white
        .navbar
            a
            a:hover
                color: white
    .testim
        background-color: $grey
        .titre
            h1
                color: white
        .wrap
            .cont
                p
                    color: white
            .arrow.right
                opacity: 0
            .arrow.left
                opacity: 0
    .wrapper
        h1
            color: white
    #section8
        background-color: $grey
        .cartes
            .sec8txt
                background-color: black
                color: white
    #section9
        .titre
            h1
                color: white
        .book
            .books
                background-color: $grey
    .product
        background-color: $grey
        .nxt-btn
            background-color: black
        .pre-btn
            background-color: black
    #section11
        .titre
            h1
                color: white
        .ligne
            .details
                background-color: $grey
                color: white
        .forme
            background-color: $grey


@font-face 
    font-family: "Cookies"
    src: url(../font/CookiesandmilkRegular-W64Y.ttf)
.noir
    background-color: #252525
    width: 100%
    height: 30px
    z-index: 10
.fixed
    z-index: 10
nav
    display: flex
    justify-content: space-evenly
    align-items: center
    background-color: white
    width: 100%
    z-index: 10
    a
        text-decoration: none
        color: black
        h1
            span
                color: $green
    .navbar
        display: flex
        justify-content: space-evenly
        align-items: center
        span
            padding: 25px
            a
                text-decoration: none
                color: #7e7e90
                display: inline-block
                position: relative
            a:hover
                color: black
                font-weight: bold
                font-size: 15px
            a:after
                content: ''
                position: absolute
                width: 100%
                transform: scaleX(0)
                height: 2px
                bottom: 0
                left: 0
                background-color:  $green
                transform-origin: bottom left
                transition: transform 0.25s ease-out
            a:hover:after
                transform: scaleX(1)
                transform-origin: bottom left
                
    button
        color: white
        background-color:  $green
        border-radius: 30px
        width: 130px
        height: 40px
        border: none
        align-items: center
        cursor: pointer
    button:hover
        background-color: $red
#section1
    display: flex
    justify-content: center
    align-items: center
    justify-content: space-evenly
    background-color: #eeeeee
    height: 690px
    img
        width: 450px
    .sec1txt
        h1
            font-family: $font-cookies
    .ytb
        margin-top: 15px
    button
        color: white
        background-color:  $green
        border-radius: 30px
        width: 130px
        height: 40px
        border: none
        align-items: center
        box-shadow: inset 0 0 1em , 0 0 1em $red
        cursor: pointer
        a
            text-decoration: none
            color: white
    button:hover
        background-color: $red
        transition-duration: 1s
    span
        a
            text-decoration: none
            font-weight: bold
            color: black
        i
            font-size: 20px
            margin-left: 20px
            color: $green
    span:hover
        a
            color: $green
        i
            color: $red
#section2
    align-content: center
    margin: 5%
    p
        color: #706969
        text-align: center
    h1
        color: black
        text-align: center
        font-family: $font-cookies
        span
            color: $green
            font-family: $font-cookies
    .sec2
        display: flex
        justify-content: space-evenly
        justify-content: center
        margin: 1%
    .imgsec2
        margin-right: 4%
        img
            width: 700px
            height: 600px
        .blanc
            background-color: white
            display: flex
            align-items: center
            flex-direction: column
            position: relative
            bottom: 150px
            width: 70%
            left: 110px
            z-index: 9
            span
                font-size: 20px
                color: $green
                font-weight: bold
                padding-bottom: 20px
    .txtsec2
        list-style-image: url("../img/check-double-solid.svg")
        .play
            display: flex
            justify-content: center
            align-items: center
            img
                width: 100%
                height: 350px
                padding-top: 10px
            .redplay
                position: relative
                background-color: rgba(186, 33, 33, 0.24)
                width: 140px
                height: 110px
                border-radius: 100%
                right: 300px
                display: flex
                justify-content: center
                align-items: center
                z-index: 5
                .btnplay
                    background-color: $green
                    border-radius: 100%
                    width: 80px
                    height: 80px
                    display: flex
                    justify-content: center
                    align-items: center
                    z-index: 5
                    cursor: pointer
                    i
                        font-size: 25px
                        color: white
                        opacity: 1
                        transition: transform .1s
                    i:hover
                        transition-delay: 0,5s
                        -ms-transform: scale(1.5)
                        -webkit-transform: scale(1.5)
                        transform: scale(8.5)
                .btnplay:hover
                    overflow: hidden

#section3
    display: flex
    justify-content: space-evenly
    background-color: #eeeeee
    padding: 5%
    .cardverte
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: $green
        width: 700px
        height: 400px
        color: white
        h2
            font-size: 30px
        span
            margin: 5%
        button
            color: white
            background-color: #7be1d2
            border-radius: 30px
            width: 130px
            height: 40px
            border: none
            align-items: center
            a
                text-decoration: none
                color: white
    .cardblanche
        background-color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        margin: 2%
        width: 500px
        height: 350px
        transition: transform .1s
        .belge
            background-color: #fae9e9
            border-radius: 100%
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            i
                color: $green
                font-size: 30px
        span
            margin: 1%
    .cardblanche:hover
        -ms-transform: scale(0.5)
        -webkit-transform: scale(0.5)
        transform: scale(1.1)

#section4
    width: 100%
    height: 200px
    background-image: linear-gradient(rgba(4, 4, 19, 0.5), rgba(9, 9, 2, 0.5)),url("../img/stats-bg.jpg")
    background-repeat: space repeat
    background-attachment: fixed
    display: flex
    align-items: center
    justify-content: center
    justify-content: space-evenly
    align-items: center
    .stats
        color: white
        font-weight: bolder
        display: flex
        align-items: center
        justify-content: center
        justify-content: space-evenly
        align-items: center
        flex-direction: column
        span
            font-size: 25px
        p
            color: #bcb4ab


#section5
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 4%
    h1
        color: black
        text-align: center
        font-family: $font-cookies
        font-size: 30px
    span
        color: $green
        font-family: $font-cookies
    p
        color: #706969
        text-align: center
    .wrapper
        #products
            img
                width: 200px
                height: 200px
.testim
    .titre
        p
            color: #706969
            text-align: center
        h1
            color: black
            text-align: center
            font-family: $font-cookies
            span
                color: $green
                font-family: $font-cookies

.wrapper
    h1
        color: black
        text-align: center
        font-family: $font-cookies
        font-size: 30px
    span
        color: $green
        font-family: $font-cookies
    p
        color: #706969
        text-align: center
    .carousel
        cursor: pointer
        overflow: hidden
        scroll-behavior: smooth
        width: 100%
        display: flex
        justify-content: space-evenly
        align-items: flex-end
        .happy
            position: relative
            font-size: 14px
            bottom: 50px
            right: 350px
            color: red
            font-display: $font-Gras
            h1
                color: white
                font-size: 20px
            h2
                font-size: 18px
                color: white
                text-underline-offset: 8px
                text-decoration: underline $green
            span
                font-size: 14px
                color: white


#section8
    background-color: #eeeeee
    .titre
        margin-top: 5%
        padding-top: 3%
        padding-bottom: 5%
        p
            color: #706969
            text-align: center
        h1
            color: black
            text-align: center
            font-family: $font-cookies
            span
                color: $green
                font-family: $font-cookies
    .cartes
        display: flex
        justify-content: space-evenly
        .carte
            width: 350px
            transition-duration: 1s
            .vague
                position: relative
            svg
                position: absolute
                left: 0
                bottom: 0
                width: 100%
                bottom: 100px
                color: white
                height: 100px
            img
                width: 100%
                height: 450px
        .sec8txt
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            text-align: center
            width: 350px
            position: relative
            bottom: 120px
            font-size: 10px
            height: 150px
            background-color: white
            h2
                font-size: 12px
                color: #706969
            span
                padding: 3%
        .carte:hover
            -ms-transform: scale(0.5)
            -webkit-transform: scale(0.5)
            transform: scale(1.1)
            .resaux
                opacity: 1
                left: 290px
                position: absolute
        .resaux
            display: flex
            flex-direction: column
            background-color: #eeee
            position: relative
            bottom: 500px
            left: 330px
            opacity: 0
            width: 30px
            height: 80px
            justify-content: center
            align-items: center
            cursor: pointer
            transition-duration: 1s
            i
                margin: 4%
#section9
    .titre
        margin-top: 5%
        margin-bottom: 5% 
        p
            color: #706969
            text-align: center
        h1
            color: black
            text-align: center
            font-family: $font-cookies
            span
                color: $green
                font-family: $font-cookies
    .book
        display: flex
        justify-content: center
        align-items: center
        img
            width: 30%
            height: 500px
        .books
            display: flex
            flex-direction: column
            padding-bottom: 150px
            background-color: #eeeeee
            height: 350px
            .input1
                display: flex
                justify-content: space-evenly
                padding: 20px
                input
                    margin: 1%
                    width: 230px
            .input2
                display: flex
                justify-content: space-evenly
                padding: 20px
                input
                    margin: 1%
            .input3
                display: flex
                flex-direction: column
                align-items: center
                padding: 20px
                input
                    margin: 1%
                    height: 150px
                button
                    color: white
                    background-color:  $green
                    border-radius: 30px
                    width: 130px
                    height: 40px
                    border: none
                    cursor: pointer

.product
    background-color: #eeee
    margin-top: 5%
    .titre
        margin-top: 5%
        margin-bottom: 5% 
        p
            color: #706969
            text-align: center
        h1
            color: black
            text-align: center
            font-family: $font-cookies
            span
                color: $green
                font-family: $font-cookies

#section11
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .titre
        margin-top: 5%
        margin-bottom: 5% 
        display: flex
        align-content: center
        justify-content: center
        flex-direction: column
        flex-wrap: wrap
        p
            color: #706969
            text-align: center
        h1
            color: black
            text-align: center
            font-family: $font-cookies
            span
                color: $green
                font-family: $font-cookies
    .details
        background-color: #eeee
        display: flex
        justify-content: flex-start
        align-items: center
        width: 500px
        height: 100px
        margin-top: 2%
        margin: 2%
    .ligne
        display: flex
        justify-content: space-evenly
        .blabla
            display: flex
            flex-direction: column
            align-items: center
            span
                padding-bottom: 25px
                padding-left: 30px
            h1
                margin: 0
                padding: 0
        .icone
            background-color: $green
            width: 30px
            height: 30px
            border-radius: 100% 
            display: flex
            align-items: center
            justify-content: center
            margin-left: 30px
    .forme
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: #eeee
        margin-top: 20px
        padding-top: 20px
        padding-bottom: 20px
        width: 80%     
        .nompre
            input
                width: 400px
        input
            width: 825px
        button
            color: white
            background-color:  $green
            border-radius: 30px
            width: 130px
            height: 40px
            border: none
            cursor: pointer
        button:hover
            background-color: $red

footer
    margin-top: 2%
    height: 200px
    background-color: black
    .copy
        display: flex
        justify-content: space-evenly
        background-color: black
        align-items: center
        width: 100%
        padding-top: 30px
        padding-bottom: 30px
        .infos
            display: flex
            flex-direction: column
            h1
                color: white
                font-size: 20px
            span
                color: grey
                font-size: 16px
            i
                margin: 2px
    .hache
        display: flex
        flex-direction: column
        background-color: black
        align-items: center
        width: 100%
        height: 50px
        hr
            color: $grey
            width: 80%
            background-color: black
            margin-bottom: 30px
        span
            color: grey

@media screen and (max-width: 426px)

    nav
        display: flex
        flex-direction: column
        align-items: flex-start
        .navbar
            display: flex
            flex-direction: column
    .fixed
        position: static

    #section1
        flex-direction: column
        text-align: center
    #section2
        text-align: center
        .sec2
            flex-direction: column
            .blanc
                display: none
        .imgsec2
            img
                height: 200px
                margin: 3%
        .txtsec2
            .play
                flex-direction: column
                img
                    height: 200px
                    margin: 3%
                .redplay
                    display: none
    #section3
        flex-direction: column
        text-align: center
        .cardverte
            width: 380px
        .cardblanche
            width: 380px
    #section5
        padding-bottom: 250px
        .wrapper
            #buttons
                display: flex
                button
                    font-size: 14px
    .testim
        .wrap
            padding: 0px
        .cont
            div
                p
                    font-size: 12px
                .ligne-verte
                    display: none
                .img
                    img
                        width: 80px
                        height: 80px
        .dots
            bottom: 15px
    #section8
        .cartes
            flex-direction: column
            .carte
                margin-left: 40px
                height: 500px
    #section9
        .book
            flex-direction: column
            img
                width: 80%
            .input1
                flex-direction: column
                align-items: center
    #section11
        iframe
            width: 300px
        .ligne
            flex-direction: column
        .details
            width: 300px
        .forme
            margin-bottom: 40px
            input
                width: 300px
            .nompre
                align-items: center
                width: 300px
                input
                    width: 280px
    footer
        .copy
            flex-direction: column
        .hache 
            hr
                margin: 0px

@media screen and (max-width: 376px)
    #section3
        .cardverte
            width: 330px
        .cardblanche
            width: 325px
    #section5 
        .wrapper 
            #buttons 
                button
                    font-size: 12px
    #section8 
        .cartes 
            .carte 
                margin-left: 15px
            .resaux
                display: none
    #section11 
        .forme
            .nompre
                input
                    width: 280px 
            input
                width: 280px
@media screen and (max-width: 1025px)
    #section2
        .sec2
            flex-direction: column
            align-items: center
    .testim 
        .cont 
            div 
                .img
                    img
                        width: 80px
                        height: 80px
        .wrap
            padding: 0px
        .dots
            bottom: 20px
    .wrapper 
        .carousel 
            .happy
                right: 300px
    #section8 
        .cartes 
            .sec8txt
                width: 300px
            .carte
                width: 300px
            .carte:hover 
                .resaux
                    left: 250px
    nav
        width: 1024px
    #section9 
        .book 
            .books 
                .input1 
                    input
                        width: 200px
    #section11 
        .forme 
            .nompre 
                input
                    width: 350px
            input
                width: 720px
@media screen and (max-width: 769px)
    .fixed
        position: static
    nav
        width: 768px
        flex-direction: column
        button
            margin: 3%
    .noir
        width: 768px
