section#overlay {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, #22d2c0, white);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all linear;
}

section#overlay.active {
    visibility: visible;
    opacity: 1;
    top: 0;
}

section#overlay aside {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    margin: 15px;
}

section#overlay aside h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #181818;
}

section#overlay aside a.close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

section#overlay aside a.close svg {
    width: 25px;
    height: 25px;
}

section#overlay aside h4 {
    font-size: 16px;
    color: #282828;
    margin-bottom: 8px;
}

input[type=text],
input[type=password] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: #cdcdcd solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type=submit] {
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    background-color: #22d2c0;
}



div.btnSec {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type=button]{
    background-color: #22d2c0;
    color: #fff;
    border: none;
    border-radius: 30px;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-value {
    padding: 1em 2.2em;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    text-underline-offset: 10px;
}
.active {
    color: #22d2c0;
}
.button-value:hover{
    color: #22d2c0;
}
#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-container {
    text-align: center;
}
.container {
    padding-top: 1em;
    color: #110f29;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h5 {
    font-weight: 500;
}
.hide {
    display: none;
}
@media screen and (max-width: 720px) {
    img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
}
    .card {
    max-width: 10em;
    margin-top: 1em;
    }
    #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    }
}