section#overlay {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, #22d2c0, white);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all linear;
}

section#overlay.active {
    visibility: visible;
    opacity: 1;
    top: 0;
}

section#overlay aside {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    margin: 15px;
}

section#overlay aside h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #181818;
}

section#overlay aside a.close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

section#overlay aside a.close svg {
    width: 25px;
    height: 25px;
}

section#overlay aside h4 {
    font-size: 16px;
    color: #282828;
    margin-bottom: 8px;
}

input[type=text],
input[type=password] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: #cdcdcd solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type=submit] {
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    background-color: #22d2c0;
}



div.btnSec {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type=button]{
    background-color: #22d2c0;
    color: #fff;
    border: none;
    border-radius: 30px;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
}